In [404]:
import numpy as np 
import pandas as pd   
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [405]:
df=sns.load_dataset('tips')

In [406]:
df.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [407]:
df.duplicated().sum()

1

In [408]:
df=df.drop_duplicates()

In [409]:
df.duplicated().sum()

0

In [410]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

In [411]:
df['time'].value_counts()

time
Dinner    176
Lunch      67
Name: count, dtype: int64

In [412]:
df['sex'] = df['sex'].map({'Female':0,'Male':1})
df['smoker']=df['smoker'].map({"Yes":0,"No":1})
df["day"]=df['day'].map({"Sun":0,"Thur":1,"Fri":2,"Sat":3})
df['time']=df["time"].map({"Dinner":0,"Lunch":1})

In [413]:
x=df.drop(columns=['total_bill'])
x

      tip sex smoker day time  size
0    1.01   0      1   0    0     2
1    1.66   1      1   0    0     3
2    3.50   1      1   0    0     3
3    3.31   1      1   0    0     2
4    3.61   0      1   0    0     4
..    ...  ..    ...  ..  ...   ...
239  5.92   1      1   3    0     3
240  2.00   0      0   3    0     2
241  2.00   1      0   3    0     2
242  1.75   1      1   3    0     2
243  3.00   0      1   1    0     2

[243 rows x 6 columns]

In [414]:
y=df['total_bill']
y

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 243, dtype: float64

In [415]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)
len(x_train),len(x_test)

(194, 49)

In [416]:
len(y_train),len(y_test)

(194, 49)

In [417]:
df

     total_bill   tip sex smoker day time  size
0         16.99  1.01   0      1   0    0     2
1         10.34  1.66   1      1   0    0     3
2         21.01  3.50   1      1   0    0     3
3         23.68  3.31   1      1   0    0     2
4         24.59  3.61   0      1   0    0     4
..          ...   ...  ..    ...  ..  ...   ...
239       29.03  5.92   1      1   3    0     3
240       27.18  2.00   0      0   3    0     2
241       22.67  2.00   1      0   3    0     2
242       17.82  1.75   1      1   3    0     2
243       18.78  3.00   0      1   1    0     2

[243 rows x 7 columns]

In [418]:
training_data=pd.DataFrame()
training_data=pd.concat([x_train, y_train], axis=1)
training_data

      tip sex smoker day time  size  total_bill
115  3.50   0      1   0    0     2       17.31
208  2.03   1      0   3    0     2       24.27
158  2.61   0      1   0    0     2       13.39
132  1.50   0      1   1    1     2       11.17
84   2.03   1      1   1    1     2       15.98
..    ...  ..    ...  ..  ...   ...         ...
106  4.06   1      0   3    0     2       20.49
14   3.02   0      1   0    0     2       14.83
92   1.00   0      0   2    0     2        5.75
179  3.55   1      0   0    0     2       34.63
102  2.50   0      0   3    0     3       44.30

[194 rows x 7 columns]

In [419]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_train)

In [420]:
y_pred

array([18.28979796, 16.71706927, 15.70570386, 11.34217127, 13.54736325,
       18.98518216, 13.46025895, 17.66965563, 21.30320927, 15.96310726,
       23.26851392, 22.0710775 , 15.02244029, 42.04688829, 16.64787886,
       15.09732668, 22.93525278, 16.89127786, 22.0710775 , 20.82888503,
       20.44117362, 21.77056856, 14.71086743, 15.52172728, 17.30541899,
       14.36033667, 23.47660865, 14.34242278, 29.93949884, 27.00358635,
       14.30371731, 11.71962321, 25.44191329, 22.14236233, 14.8312597 ,
       27.00358635, 13.66495247, 23.99017504, 13.35243773, 23.44892676,
       21.74628788, 17.67861773, 18.71130562, 34.12184759, 16.16260569,
       15.6766691 , 31.87081429, 14.9715169 , 15.08000154, 19.7657196 ,
       16.16880994, 30.53615698, 12.6763203 , 16.36373546, 36.44462879,
       15.06829191, 12.89068453, 22.0710775 , 24.25289289, 15.02193201,
       11.06014145, 22.69121983, 26.73735685, 23.31136216, 17.25956736,
       19.53344148, 14.67075699, 19.58870797, 19.37765505, 29.46807493,
       24.45893928, 17.41535379, 19.37765505, 18.80336435, 33.37590579,
       16.62996497, 15.06974207, 12.21321422, 26.5985498 , 12.79390952,
       30.11515759, 25.88929719, 15.06829191, 19.58824489, 26.07932525,
       14.91199721, 17.30541899, 17.14912428, 25.30855669, 15.02193201,
       16.57189544, 10.61630214, 12.79390952, 15.75841374, 36.69839485,
       14.98118762, 23.58654345, 20.66158931, 32.52359293, 38.2516519 ,
       19.50019871, 13.46025895, 38.73983571, 26.76029495, 16.16260569,
       17.52512607, 27.51379388, 42.86277235, 33.68498354, 17.87550169,
       19.0660822 , 12.6265686 , 11.34217127, 22.6331503 , 18.40448685,
       15.58471343, 13.32340296, 12.79390952, 18.80851424, 21.66193112,
       14.51136901, 17.50440914, 14.60093263, 17.92540852, 18.75570708,
       24.56395747, 25.32297119, 19.99799772, 17.97176842, 19.26772025,
       23.73236154, 15.17822672, 11.21036788, 16.36373546, 14.48479357,
       24.97455401, 36.27188067, 16.63141513, 15.20379502, 23.30094989,
       15.29776699, 19.27357876, 32.76433227, 16.42325516, 14.35558258,
       13.95825831, 29.2102285 , 28.86521253, 23.27892618, 16.05267088,
       14.38461734, 21.96955871, 24.10010984, 25.70463114, 15.96361554,
       19.10412426, 15.96361554, 15.93313061, 18.48117889, 24.63864352,
       16.57954986, 12.95020422, 28.2990299 , 26.42629226, 13.72648846,
       27.36782299, 20.71419613, 17.71795716, 21.24373478, 26.48581196,
       18.51867486, 17.34882305, 30.6958529 , 13.46025895, 12.0085207 ,
       14.60093263, 20.26076077, 13.46076723, 30.98475038, 19.26721197,
       15.80732083, 14.98263778, 13.35048668, 33.27509561, 11.86479704,
       16.99384613, 21.10752305, 23.58654345, 21.04049142, 22.61112658,
       16.89612923, 12.9043526 , 20.66299428, 21.15042623])

In [421]:
lr.coef_

array([ 2.90347651,  0.66634943, -1.56167306,  0.15578643, -1.2964601 ,
        3.73507244])

In [422]:
lr.intercept_

2.2191583601662366

In [423]:
training_data_performance=pd.DataFrame()
training_data_performance=x_train.copy()
training_data_performance["actual_values"]=y_train.copy()
training_data_performance['predicting_values']=y_pred.copy()
training_data_performance

      tip sex smoker day time  size  actual_values  predicting_values
115  3.50   0      1   0    0     2          17.31          18.289798
208  2.03   1      0   3    0     2          24.27          16.717069
158  2.61   0      1   0    0     2          13.39          15.705704
132  1.50   0      1   1    1     2          11.17          11.342171
84   2.03   1      1   1    1     2          15.98          13.547363
..    ...  ..    ...  ..  ...   ...            ...                ...
106  4.06   1      0   3    0     2          20.49          22.611127
14   3.02   0      1   0    0     2          14.83          16.896129
92   1.00   0      0   2    0     2           5.75          12.904353
179  3.55   1      0   0    0     2          34.63          20.662994
102  2.50   0      0   3    0     3          44.30          21.150426

[194 rows x 8 columns]

In [424]:
# finding sum square of residuls
count=0
for i in training_data_performance.index:
   count=count+(training_data_performance['actual_values'][i]-training_data_performance['predicting_values'][i])**2
residuals=(count/len(training_data_performance))
residuals

33.553630891599056

In [425]:
# Calculate the mean of the actual values
y_mean = training_data_performance['actual_values'].mean()

# Calculate SS_res (Residual Sum of Squares)
ss_res = ((training_data_performance['actual_values'] - training_data_performance['predicting_values']) ** 2).sum()

# Calculate SS_tot (Total Sum of Squares)
ss_tot = ((training_data_performance['actual_values'] - y_mean) ** 2).sum()

# Calculate R^2
r2_score = 1 - (ss_res / ss_tot)

# Output the R^2 score
r2_score

0.5588827165026443

In [426]:
total=0
for i in training_data_performance.index:
  total=total+(training_data_performance['actual_values'][i]-training_data_performance['predicting_values'][i])**2
print(total)

6509.404392970217

In [427]:
ss_res = ((training_data_performance['actual_values'] - training_data_performance['predicting_values']) ** 2).sum()
ss_res

6509.404392970217

In [428]:
ss_tot = ((training_data_performance['actual_values'] - y_mean) ** 2).sum()
ss_tot

14756.629668556701

In [429]:
len(y_train),len(y_pred)

(194, 194)

In [431]:
from sklearn.metrics import r2_score

In [432]:
r2 = r2_score(y_train, y_pred)
print("R2 Score:", r2)

R2 Score: 0.5588827165026443

In [435]:
r2=r2_score(y_train,y_pred)
r2

0.5588827165026443